.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  align-items: center;
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
}
.div2 {
  grid-area: 1 / 3 / 2 / 5;
  display: flex;
}
.div3 {
  grid-area: 1 / 5 / 2 / 7;
  display: flex;
}
.div4 {
  grid-area: 2 / 2 / 3 / 4;
  display: flex;
}
.div5 {
  grid-area: 2 / 4 / 3 / 6;
  display: flex;
}

.cloud-logo {
  max-width: 100%;
  justify-self: center;
  max-height: 6rem;
  margin: auto;
}

@media (max-width: 991.98px) {
  .parent {
    grid-gap: 1rem;
  }
  .div4 {
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
  }
  .div5 {
    grid-area: 2 / 4 / 3 / 7;
    display: flex;
  }
}
